#product-template-cart-container {
  width: 96%;
  margin: auto;
  height: 80px;
  overflow: hidden;
  margin-top: 10px;
  padding: 5px 1%;
  background-color: var(--white_background);
  box-shadow: 0 0 2px gray;
  border-radius: 3px;
}
#product-template-cart-col-1 {
  width: 50%;
  float: left;
}
#product-template-cart-image {
  width: 30%;
  float: left;
  height: 100%;
}
#product-template-cart-image img {
  max-height: 80px;
  display: block;
  background-repeat: round;
}

#product-template-cart-name {
  width: 64%;
  padding-right: 6%;
  float: left;
  line-height: 80px;
  color: var(--dark_blue);
  font-weight: 600;
  font-size: 16px;
  text-align: justify;
}
#product-template-cart-col-2 {
  width: 50%;
  float: left;
}
#product-template-cart-cost {
  width: 28%;
  padding: 0 2%;
  float: left;
  text-align: center;
  line-height: 80px;
}
#product-template-cart-amount {
  width: 30%;
  padding: 0 2%;
  float: left;
  text-align: center;
  line-height: 80px;
}
#product-template-cart-total {
  width: 30%;
  padding: 0 2%;
  float: left;
  text-align: center;
  line-height: 80px;
}
