#Form{
    width: 340px;
    height: 390px;
    padding: 3%;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
    margin-top: 100px;
    margin-right: 120px; 
}

#FormHeader {
    color: #3b414b;
    font-size: 35px;
    text-align: center;   
}
/* #textContainer {
    display: flex;
    
} */
#LoginButton {
    display: flex;
    justify-content: center;
    height: 60px;
}
#SignUp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

input[type="text"]{
    font-weight: bold;
    width: 300px;
    margin: 25px 35px 20px;
    height: 40px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f6f7f9;
    color: #748194;
    font-size: 14px;
}

input[type="password"]{
    font-weight: bold;
    width: 300px;
    margin: 5px 35px 20px;
    height: 40px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f6f7f9;
    color: #748194;
    font-size: 14px;
}

input[type=submit] {
    background-color: var(--darker_gray);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.textContainer{
    display: flex;
    justify-content: center;
}
