#detail-pop-up-container {
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 2px 2px;
  height: 90px;
  margin-top: 10px;
  line-height: 90px;
  color: var(--darker-gray);
}
#detail-template-order-image {
  text-align: center;
  width: 90px;
  float: left;
  box-shadow: 0 0 2px gray;
  border-radius: 3px;
}
#detail-template-order-image img {
  max-height: 90px;
  display: block;
  margin: auto;
}
#detail-template-order-name {
  width: 30%;
  float: left;
  margin-left: 3%;
}
#detail-template-order-cost {
  width: 20%;
  float: left;
}
#detail-template-order-quantity {
  width: 30%;
  float: right;
  text-align: right;
  padding-right: 1%;
}
