.path-bar {
  font-size: 16px;
  display: block;
  float: left;
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

#product-info-content-area {
}
#mini-router-area {
}

#info-area {
  overflow: hidden;
  box-shadow: 0 0 1px grey;
  padding: 20px;
  background: white;
  margin-top: 20px;
}
#main-container {
  padding: 100px 10% 0;
}
