.LoginPage {
  display: flex;
  flex-direction: column;
}

.MiddlePage {
  display: flex;
  background-color: yellow;
  flex-direction: row;
  background-image: url(./assets/background.jpg);
  background-size: 1904px 640px;
  background-repeat: no-repeat;
}
.NameLabel {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}
.Name {
  font-size: 50px;
  color: blue;
  width: 800px;
  margin-left: 450px;
  margin-top: 100px;
  margin-bottom: 0px;
}
.Slogan {
  font-size: 40px;
  color: green;
  width: 800px;
  margin-top: 20px;
  margin-left: 300px;
}

#Logo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  /* margin-left: 250px;
     margin-bottom: 0px;  */
  border-radius: 50%;
}

#BigLogo {
  width: 300px;
  height: 300px;
  margin-top: 0px;
  margin-left: 440px;
  border-radius: 50%;
}
