#submit-payment-container {
  background-image: linear-gradient(white, var(--light_blue));
  padding: 20px 10%;
  overflow: hidden;
  box-shadow: 0 0 2px gray;
  border-radius: 3px;
  line-height: 20px;
}
#submit-payment-form {
  font-size: 14px;
}
#note {
  resize: none;
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: none;
  box-shadow: 0 0 1px gray;
}
#payment-submit-area {
  margin-top: 20px;
  overflow: hidden;
}
#total-payment-title {
  width: 40%;
  float: left;
  text-align: center;
}
#total-payment {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}
#submit-payment-button {
  width: 55%;
  float: left;
  text-align: center;
}
#submit-payment-btn {
  border: none;
  box-shadow: 0 0 2px gray;
  width: 200px;
  height: 70px;
  font-size: 20px;
  color: black;
  background-color: white;
}
#submit-payment-btn:hover {
  color: white;
  background-color: var(--dark_gray);
  transition: all 0.1s;
}
