#home-page-container {
  padding-top: 100px;
  min-height: 700px;
  background-image: url('../assets/background.jpg');
  background-repeat: round;
}
#home-page-content {
  width: 75%;
  margin: auto;
}

#news-feed-container {
  width: 100%;
  float: right;
}
