.blank {
  color: var(--darker_gray);
  float: left;
  width: 20px;
}

.buttons-bar {
  float: left;
  color: var(--darker_gray);
  display: block;
  text-decoration: none;
}

.buttons-bar:hover {
  color: var(--dark_gray);
  transition: all 0.2s;
}

#header_bar {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(var(--dark_blue), var(--light_blue));
  position: fixed;
}

#header_bar #logo {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: white;
}

#header_bar #navbar-buttons {
  position: absolute;
  width: auto;
  top: 0;
  right: 10%;
}

#header_bar #navbar-buttons #cart-button {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: auto;
}
