#news-feed {
  width: 100%;
  height: 100%;
}

#main-news {
  background-color: var(--button_grey_hover);
  width: 50%;
  height: 220px;
  border-radius: 5px;
  float: left;
}

#main-news-area-title {
  padding: 8px;
  font-size: 16px;
  background-image: linear-gradient(var(--dark_blue), var(--light_blue));
  border-radius: 5px;
  width: 25%;
}

#sub-feeds {
  float: right;
  width: 48%;
  height: 220px;
}

.sub-feed {
  float: left;
  width: 49%;
  height: 105px;
  background-color: var(--button_grey_hover);
  border-radius: 5px;
}

#sub-feed-1 {
  margin-right: 2%;
  margin-bottom: 10px;
}

#sub-feed-2 {
  margin-bottom: 10px;
}

#sub-feed-3 {
  margin-right: 2%;
}
