.LoginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MiddlePage {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 869px;
    width: 100%;
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


