#sign-in-container {
  position: fixed;
  width: auto;
  height: 30px;
  line-height: 30px;
  right: 10%;
  border-radius: 5px;
  z-index: 20;
  font-size: 14px;
  text-align: center;
}
#login-button {
  float: left;
  color: #fff;
  display: block;
  text-decoration: none;
}

#blank {
  color: #fff;
  float: left;
  width: 20px;
}

#sign-up-button {
  color: #fff;
  display: block;
  text-decoration: none;
  float: left;
}
