#filter-bar {
  background-color: var(--white_background);
  padding: 1em;
  width: 100%;
  border-radius: 15px;
}

#title-filter-area {
  font-weight: bold;
  margin-bottom: 3px;
}

.filter-option {
  padding: 3px 10px;
}

.filter-option label {
  color: var(--text_form);
}
