#popup-container {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#popup-content {
  border-radius: 5px;
  background-color: white;
  margin: auto;
  padding: 30px;
  border: 1px solid var(--darker_gray);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: fadeIn;
  animation-duration: 0.3s;
  color: var(--title_gray);
  font-weight: 600;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
}

.label {
  margin-right: 5px;
}

.input {
  display: block;
  width: 200px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
  font-weight: 600;
  margin-right: 5px;
  border-radius: 5px;
}

.selector {
  display: block;
  width: 200px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
  font-weight: 600;
  border-radius: 5px;
}

.img-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.demo-img {
  border: 1px solid rgb(197, 194, 194);
  border-radius: 5px;
  width: 400px;
  height: 200px;
}

.editor {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label-right {
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}

.ck-content {
  max-height: 150px;
  overflow-y: scroll;
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#btn-save {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

#btn-cancel {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

#title {
  font-size: 20px;
  font-weight: bold;
}
