.news-card {
  height: 80px;
  border: none;
  margin: 1px 0;
  background-color: var(--white_background);
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

.news-card:hover {
  transition: all 0.2s;
  background-color: var(--light_gray);
}

.content {
  width: 20%;
  font-weight: bold;
}

.mini-img {
  width: 150px;
  height: 60px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
