#payment-pop-up-container {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

#payment-pop-up-content {
  border-radius: 15px;
  background-color: white;
  margin: auto;
  padding: 10px;
  border: 1px solid var(--darker_gray);
  width: 50%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: fadeIn;
  animation-duration: 0.3s;
  color: var(--title_gray);
  font-weight: 600;
  overflow: hidden;
}
#payment-pop-up-btn {
  width: 40%;
  margin: 10px auto;
  height: 30px;
}
#submit-note-payment-btn1 {
  display: block;
  width: 45%;
  height: 30px;
  float: left;
  text-decoration: none;
  line-height: 30px;
  border: none;
}
#submit-note-payment-btn2 {
  display: block;
  width: 45%;
  height: 30px;
  float: right;
  border: none;
  padding: 6px 12px;
  background-color: var(--dark_gray);
}
#submit-note-payment-btn2:hover {
  color: black;
  background-color: var(--white_background);
  transition: all 0.3s;
}
