.product-template {
  float: left;
  width: 216px;
  padding: 5px 0.5%;
  text-decoration: none;
}

#product-template-content {
  width: 100%;
  height: 300px;
  background-color: var(--white_background);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 2px grey;
}
#product-template-content:hover {
  cursor: pointer;
}

#product-template-image {
  padding: 3px;
}

#product-template-image img {
  width: 100%;
  height: 230px;
  border-bottom: 0.5px solid rgb(182, 182, 182);
}

#product-template-name {
  margin-top: 10px;
  font-size: 12px;
  padding: 0 15px;
  text-align: left;
  color: grey;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 16px;
}

#product-template-cost {
  color: var(--dark_blue);
  padding: 0 15px;
  text-align: left;
}
